@import 'variables.scss';

.wrapper {
  section {
    @include large {
    }
    .question-wrap {
      background-color: #70dcc4;
      padding: 100px 20px 100px 20px;
      border-radius: 50px;
      margin-top: 100px;

      .question-text {
        min-height: 100px;
        @include large {
          min-height: 0px;
        }
      }
    }

    h3 {
      margin-top: 10px;
    }

    .thank-you-msg {
      padding-top: 100px;
    }

    .buttons {
      margin-top: 10px;
      button {
        background: transparent;
        border-style: solid;
        background-color: black;
        color: white;
        padding: 10px 20px;
        margin-right: 5px;
        border-radius: 50px;
        &:hover {
          background-color: white;
          color: black;
        }
      }
    }
  }
}
