@import 'variables.scss';

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
  display: flex;
  padding: 10px !important;
  div {
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    &:last-child {
      padding-bottom: 0;
    }
    @include large {
      padding-bottom: 0;
    }
  }
}
